<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>История</title>
    <!-- Подключение файла стилей Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Подключение файла скриптов jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение файла скриптов Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/history.css">

</head>
<body>
  <!-- Шапка сайта -->
  <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: #2a231d;">
      <div class="container-fluid">
          <a hreaf="#" class="navbar-brand">
              <img src="static/img/emblema-v0.png"
                   style="width: auto; height: 50px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a href="/" class="nav-link">Главная</a>
                  </li>
                  <li class="nav-item active">
                      <a href="/history" class="nav-link">История</a>
                  </li>
                  <li class="nav-item">
                      <a href="/excursus" class="nav-link">Экскурсия</a>
                  </li>
                  <li class="nav-item">
                      <a href="/nature" class="nav-link">Природа</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- Таймлист -->
  <div class="timeline-container" id="timeline-1">
      <div class="timeline-header">
        <img class="timeline__img" src="/static/img/emblema-v0.png" style="max-width: 50%; box-shadow: none"/>
        <h3 class="timeline-header__subtitle">Путешествие в историю</h3>
      </div>
      <div class="timeline">
        <div class="timeline-item" data-text="Русское государство">
          <div class="timeline__content"><img class="timeline__img" src="/static/img/history/slide1.jpg"/>
            <h2 class="timeline__content-title">1571</h2>
            <p class="timeline__content-desc">
                В 1571 году современные населённые пункты Кургальского полуострова впервые упоминаются в писцовых книгах Шелонской пятины,
                входившей в состав Русского государства. Однако не все деревни носили современные названия. Так Курголово именовалось Курговой Горой.
                А современная Усть-Луга вовсе была представлена тремя смежными деревнями: Нижней Остров на Меньшой Луге, Средней Остров и Верхней Остров в Ямском Окологородье.
            </p>
          </div>
        </div>
        <div class="timeline-item" data-text="Шведская Ингерманландия">
          <div class="timeline__content"><img class="timeline__img" src="/static/img/history/slide2.jpg"/>
            <h2 class="timeline__content-title">1617</h2>
            <p class="timeline__content-desc">
                По завершению русско-шведской войны 1610—1617 годов Кургальский полуостров переходит Швеции.
                Его включают в состав Ингерманландии.
                Вместе с этим многие населённые пункты на Кургальском полуострове получают шведские названия.
                Так, например, Курголово именуется Kurgura, а Липово — Peruispä.
                Под покровительством Швеции полуостров все больше заселяется финно-угорскими народами: ижорами, водь и финнами.
            </p>
          </div>
        </div>
        <div class="timeline-item" data-text="Российская Империя">
          <div class="timeline__content"><img class="timeline__img" src="/static/img/history/slide3.jpg"/>
            <h2 class="timeline__content-title">1706</h2>
            <p class="timeline__content-desc">
                В 1706 году, по результатам Северной войны отвоёванные у Швеции земли, включая Кургальский полуостров, возвращаются в состав России в виде Ингерманландской губернии.
                С 1711 года - Санкт-Петербургская губерния.
                Вместе с этим с полуострова уходят шведские названия и возвращаются русские.
            </p>
          </div>
        </div>
        <div class="timeline-item" data-text="Советский союз">
          <div class="timeline__content"><img class="timeline__img" src="/static/img/history/slide4.jpg"/>
            <h2 class="timeline__content-title">1930</h2>
            <p class="timeline__content-desc">
                В 1930-ые годы Кургальский полуостров становится местом военной стройки. Возводится аэродром, доты и точки наблюдения за Финским заливом.
                Однако, после присоединения Прибалтики и разрушительной Великой отечественной войны, всё оказывается списанным и заброшенным.
                И в наши дни легко встретить военное наследие Кургальского полуострова.
            </p>
          </div>
        </div>
        <div class="timeline-item" data-text="Советский союз">
          <div class="timeline__content"><img class="timeline__img" src="/static/img/history/slide5.jpg"/>
            <h2 class="timeline__content-title">1943</h2>
            <p class="timeline__content-desc">
                C 1 сентября 1941 года по 31 января 1944 года Кургальский полуостров находился под оккупацией немецких войск.
                В 1943 году оккупационные войска начали депортацию финно-угорского населения.
                Ярким эпизодом является история мельника Юлле Пантелея.
                Он отказался покидать родные края, за что был показательно убит немцами.
            </p>
          </div>
        </div>
        <div class="timeline-item" data-text="Советский союз">
          <div class="timeline__content"><img class="timeline__img" src="/static/img/history/slide6.jpg"/>
            <h2 class="timeline__content-title">1975</h2>
            <p class="timeline__content-desc">
                В 1975 году значительную часть полуострова признали уникальной экосистемой международного значения.
                Основанный там заказник стал закрытой территорией для деятельности людей.
                Именно это помогло сохранить исчезающие виды краснокнижных растений и животных.
                С 2000 года заказник получил региональное значение.
            </p>
          </div>
        </div>
        <div class="timeline-item" data-text="Российская Федерация">
          <div class="timeline__content"><img class="timeline__img" src="/static/img/history/slide7.jpg"/>
            <h2 class="timeline__content-title">2022</h2>
            <p class="timeline__content-desc">
                Несмотря на динамично развивающейся регион, руководство области понимает необходимость в сохранении природы Кургальского полуострова.
                Для этого принимаются все возможные меры.
                Для того, чтобы дать людям возможность подзнакомиться с красотой полуострова в 2022 году была открыта Экотропа.
                Экологический маршрут "Долина реки Выбья и Лужская Губа" проходит по территории государственного природного заказника регионального значения "Кургальский" на берегу реке Выбья и побережья Финского залива недалеко от Усть-Луги.
                Его протяженность составляет 4,3 км.
            </p>
          </div>
        </div>
      </div>
    </div>

  <script type="text/javascript" src="/static/js/history.js"></script>
</body>
</html>