<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Об природе</title>
    <!-- Подключение файла стилей Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Подключение файла скриптов jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение файла скриптов Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/general.css">
</head>
<body>
  <!-- Шапка сайта -->
  <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: #2a231d;">
      <div class="container-fluid">
          <a hreaf="#" class="navbar-brand">
              <img src="static/img/emblema-v0.png"
                   style="width: auto; height: 50px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a href="/" class="nav-link">Главная</a>
                  </li>
                  <li class="nav-item">
                      <a href="/history" class="nav-link">История</a>
                  </li>
                  <li class="nav-item">
                      <a href="/excursus" class="nav-link">Экскурсия</a>
                  </li>
                  <li class="nav-item active">
                      <a href="/nature" class="nav-link">Природа</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <!-- Блок с текстом -->
  <div class="container-fluid">
      <div class="row text-center alert">
          <div class="col-12">
              <h1 class="display-4">Природа Кургальского полуострова</h1>
          </div>
      </div>
      <div class="row text-left alert" style="padding-top: 0em;">
          <div class="col-12">
              <p class="lead">
                  Кургальский полуостров – удивительное место Ленинградской области.
                  Растительный мир очень разнообразен. На морской стороне преобладают еловые и сосновые леса, в болотистой части – березняк и осинник.
                  Характерной особенностью является наличие большого числа широколиственных пород — дуба, липы, клёна, вяза, ясеня.
                  В этой местности можно встретить редких птиц, таких как большой баклан, лебедь-шипун, серый гусь, черный аист и других.
                  На территории полуострова отмечено 250 видов пернатых, из которых 180 видов здесь гнездятся.
                  Так полуостров является местом гнездования сапсанов, беркутов, чернозобых гагар.
              </p>
          </div>
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="/static/img/nature/IMG_20230708_153800.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />

            <img
              src="/static/img/nature/IMG_20230708_161537.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
              <img
                  src="/static/img/nature/IMG_20230708_162727.jpg"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="Mountains in the Clouds"
                />
              <img
                  src="/static/img/nature/IMG_20230708_163542.jpg"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="Boat on Calm Water"
                />
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="/static/img/nature/IMG_20230708_150300.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Waves at Sea"
            />

            <img
              src="/static/img/nature/IMG_20230708_163139.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Yosemite National Park"
            />
          </div>
          <div class="col-12">
              <p class="lead">
                  В лесах обитает не менее 45 видов млекопитающих.
                  С мая по октябрь на каменистых островках залива собирается до 400 серых тюленей и два – три десятка очень редких балтийских кольчатых нерп.
                  В континентальной части встречаются бурый медведь, рысь, волк, лось, пятнистый и благородный олени, кабаны, садовые сони.
                  На полуострове проживает большое количество амфибий – травяная, остромордая и озерная лягушки, серые жабы, тритоны, гадюки, ужи и веретеницы.
                  В водах солёного Липовского озера одновременно обитаю морские и пресноводные рыбы: окунь, минога, щука, судак, язь, морская плотва и угорь.
                  Большое болото - настоящий комплекс, состоящий из болотной растительности и большого количества видов животных.
                  Среди ягодных растений здесь преобладают морошка, клюква и голубика.
              </p>
              <p class="lead">
                  Благодаря тому, что в 1975 году значительную часть полуострова признали уникальной экосистемой международного значения, основанный там заказник стал закрытой территорией для человеческой деятельности.
                  С 2000 года значение заказника стало региональным, поэтому строгий контроль за немногочисленными туристами обеспечивает выживание многих растений, животных и птиц.
                  К заказнику относится не только материковая часть, где находится Кингисеппский район, Кургальский полуостров, Липовское озеро, но и расположенные вокруг него небольшие островки и акватория Финского залива, Лужской и Нарвской губы, составляющие в общей сложности 60 тысяч гектаров охраняемых государственных угодий.
              </p>
          </div>
      </div>
      <hr>
  </div>

</body>
</html>